<div hx-target="this" class="col-sm-{size} m-1">
    <div class="card" >
        <div class="card-body">
            <h5 class="card-title">{card.name}</h5>
            <img src="/storage/imageCache/{card.set}/{card.cardRow}-{card.cardColumn}.png" class="card-img-top" alt="...">
            <p class="card-text">{card.cardName}</p>
            <button type="button" hx-swap="outerHTML" hx-get="/?action=loadCard&set={card.set}&cardNr={card.cardNr}"
                    class="bi-disc btn btn-primary"></button>
            <a target="_blank" href="/storage/imageCache/{card.set}/'{card.cardRow}-{card.cardColumn}.png"> Add Card</a>
        </div>
    </div>
</div>