<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" hx-target="#content" hx-get="/?action=showHallo"><i class="bi-radioactive"
                                                                                             style="color: orangered;"></i>
            Fallout Grabber</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="#" hx-target="#content" hx-get="/?action=myGame">My Game</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" hx-target="#content" hx-get="/?action=overview">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" hx-target="#content" hx-get="/?action=storyCards">List StoryCards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Save Game</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" hx-target="#content" hx-get="/?action=settings">
                    <i class="bi-gear-wide"></i></a>
            </li>
        </ul>
    </div>
</nav>