<div class="p-lg-5 d-flex align-items-center justify-content-center gap-1">
  <button type="button" hx-get="/?action=removeAllSetSources" class="bi-trash btn btn-primary"> Remove all local CardSet Sources</button></h5>
  <button type="button" hx-get="/?action=removeAllLocalCardImages" class="bi-trash btn btn-primary"> Remove all local Card Images</button></h5>
  <button type="button" hx-get="/?action=downloadAllSetSources" class="bi-download btn btn-primary"> Download all local CardSet Sources</button></h5>
  <button type="button" hx-get="/?action=downloadAllLocalCardImages" class="bi-download btn btn-primary"> Download all local Card Images</button></h5>
</div>